{%  extends 'base.html'  %}

{% load static %}
{%  block title  %}
  {% autoescape on %}
    {{ title }}
  {% endautoescape %}
{%  endblock  %}
{%  block content  %}
  <!-- класс py-5 создает отступы сверху и снизу блока -->
  <div class="container py-5">
    <div style="float:left; padding-right:30px;">
      <img src="{% static 'img/LNT.png' %}"
      width="75" height="80" alt="">
    </div>
    <h1>
      {% autoescape on %}
        {{ h1text }}
      {% endautoescape %}
    </h1>
    <p>
      {% autoescape on %}
        {{ ptext }}
      {% endautoescape %}
    </p>
    {%  for post in posts  %}
    <article>
      <ul>
        <li>
          Автор: {{ post.author.get_full_name }}
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>      
      <p>
        {% autoescape on %}
          {{ post.text }}
        {% endautoescape %}
      </p>
    </article>
    {%  if not forloop.last %}<hr>{% endif  %}
    {%  endfor  %}
    <!-- под последним постом нет линии -->
  </div>
{%  endblock  %}
